# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# Django migrations cache
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# VSCode and JetBrains
.vscode/
.idea/

# Node
node_modules/

# Next.js
.next/



